---
---

@import "{{ site.theme }}";

small { display: inline-block; }

div.tareas {
	padding: 1em 1.2em;
	background-color: #f4f4f4;
	margin-bottom: 20px;

	ol, ul {
		margin-bottom: 0;
		padding-left:87px; 

		ol, ul { 
			padding-left:24px;
		}
	}

	i.fa { 
		font-size:50px; 
		float:left;
	}

	p,h3 { padding-left:70px; }

	p:first-child { 
		padding-left:0; 
		float:left; 
	}
}

